<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"></link>
<link href="/css/warehouse.css" th:href="@{/css/warehouse.css}"
	rel="stylesheet"></link>
<title th:text="#{title.main.menu}">ぬる商事 めいんめにゅー</title>
</head>
<body>
	<header>
		<h1 th:text="#{header.main.menu}">ぬる商事 しゃいん用メインメニュー</h1>
	</header>
	<div>
		<ul>
			<li><a th:href="@{'/goods/menu'}" th:text="#{label.menu.goods}">ほんしゃ業務（商品管理）</a></li>
			<!--<li><a th:href="@{'/stock/menu'}">倉庫業務（在庫管理）</a></li>-->
		</ul>
	</div>
	<footer>
		<address th:text="#{footer.copyright}">コピーライト(C)20xx ぬる商事 Allright Reserved.</address>
	</footer>
</body>
</html>