<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"></link>
<link href="/css/warehouse.css" th:href="@{/css/warehouse.css}"
	rel="stylesheet"></link>
<title th:text="#{title.goods.menu}">商品管理：めにゅー画面</title>
</head>
<body>
	<header>
		<h1 th:text="#{header.goods}">ぬる商事 ほんしゃ</h1>
	</header>
	<div>
		<ul>
			<li><a th:href="@{'/goods/create/input'}" th:text="#{label.menu.goods.create}">しょうひん登録</a></li>
			<li><a th:href="@{'/goods/find/list'}" th:text="#{label.menu.goods.list}">しょうひん一覧</a></li>
			<li><a th:href="@{'/goods/find/input'}" th:text="#{label.menu.goods.find}">しょうひん検索</a></li>
			<li><a th:href="@{'/goods/delete/input'}" th:text="#{label.menu.goods.delete}">しょうひん削除</a></li>
		</ul>
	</div>
	<div>
		<a th:href="@{'/'}" th:text="#{label.back.main.menu}">NULL商事めいんメニューへ</a>
	</div>
	<footer>
		<address th:text="#{footer.copyright}">コピーライト(C)20xx ぬる商事 Allright Reserved.</address>
	</footer>
</body>
</html>